.cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 4%;
  width: 92%;
  background-color: #f6f6f6;
  border-radius: 25px;
  gap: 5%;
  padding: 3%;
  padding-bottom: 1.5%;
}
