@import "./declarations/variables";
@import "./declarations/mixins";

.banner {
  display: flex;
  justify-content: center;
  border-radius: 25px;

  &__img {
    border-radius: 25px;
    width: 92%;
    height: 223px;
    object-fit: cover;
    filter: brightness(0.8);
  }
  &__slogan {
    color: $white;
    position: absolute;
    top: 20%;
    left: 25%;
    right: 25%;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    @include media-query(small) {
      top: 17%;
    }
    @include media-query(medium) {
      top: 15%;
    }
    @include media-query(large) {
      top: 19%;
    }
    &__p {
      color: $white;
      font-weight: 500;
      font-size: 50px;
      @include media-query(small) {
        font-size: 30px;
      }
      @include media-query(medium) {
        font-size: 40px;
      }
      @include media-query(large) {
        font-size: 50px;
      }
    }
  }
}
