@import "./declarations/variables";
@import "./declarations/mixins";

.banner {
  display: flex;
  justify-content: center;
  border-radius: 25px;
  margin-bottom: 5%;

  &__img {
    border-radius: 25px;
    width: 92%;
    height: 223px;
    object-fit: cover;
    filter: brightness(0.8);
  }
  &__slogan {
    width: 68%;
    color: $white;
    position: absolute;
    top: 20%;
    left: 10%;
    right: 25%;
    display: flex;
    justify-content: flex-end;
    text-align: start;
    align-items: center;

    @include media-query(small) {
      top: 16%;
    }
    @include media-query(medium) {
      top: 17%;
    }
    @include media-query(large) {
      justify-content: flex-end;
      top: 23%;
    }
    @include media-query(xlarge) {
      justify-content: center;
      top: 23%;
    }
    @include media-query(xxlarge) {
      justify-content: center;
      top: 28%;
    }
    &__p {
      color: $white;
      font-weight: 500;
      font-size: 50px;
      line-height: 33px;
      @include media-query(small) {
        font-size: 30px;
      }
      @include media-query(medium) {
        font-size: 40px;
      }
      @include media-query(large) {
        font-size: 50px;
      }
    }
  }
}
