@import "./../declarations/variables";
@import "./../declarations/mixins";

.about {
  margin: 0 12%;
  margin-bottom: 15%;
  @include media-query(small) {
    margin: 10% 4% 25%;
  }
  @include media-query(medium) {
    margin: 0 12%;
    margin-bottom: 26%;
  }
  @include media-query(large) {
    margin: 0 12%;
    margin-bottom: 8%;
  }
}
