@import "./../declarations/variables";
@import "./../declarations/mixins";

.class_test {
  img {
    @include media-query(small) {
      height: 111px;
    }
    @include media-query(large) {
      height: 223px;
    }
  }
}
.section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 3%;
  margin: 3% 0% 3% 4%;

  &__article {
    width: 30%;
    justify-content: flex-start;
    @include media-query(small) {
      width: 95%;
    }
    @include media-query(medium) {
      width: 96%;
    }
    @include media-query(large) {
      width: 30%;
    }
  }
}
